{% extends "bolicheapp/base.html" %}

{% load static %}

{% block content %}

<div class="contenedorFormulario">

    {% if "enviado" in request.GET %}

        <p style="color: white">La Informacion se envio correctamente</p>

    {% endif %}

    <form action="" method="POST" style="text-align: center">
        {% csrf_token %}
        <table style="color: white; margin: 20px auto;">{{miFormulario.as_table}}</table>
        <input type="submit" value="Enviar" style="width: 200px">
    </form>

</div>

{% endblock %}